header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121619;
    border-bottom: 10px solid #09814a;
    padding: 10px 20px;
    }

h1{
    font-family: "Press Start 2P", sans-serif;
    color: #09814a;
    text-shadow: 2px 2px 0px #2d4739;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    display: inline-block;
    background-color: #09814a;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button{
    display: inline-block;
    background-color: #09814a;
    box-shadow: 5px 5px 0px #2d4739;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button::before{
    content: none;
}

#button:hover{
    transform: scale(1.05);
}