.main-section{
    background-color: #62C370;
    padding: 50px 0 100px 0;
    border-bottom: 10px solid #09814a;
    max-height: 1400px;
    height: auto;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgblack{
    background-color: #121619;
}