.main-action{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: color 200ms ease 0.1s;
}

.main-action::before{
    content: "";
    display: inline-block;
    background-color: #09814a;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.action:hover{
    color: #09814a;
}

.main-action:hover{
    color: #09814a;
}