.wrapper-skill{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
}

.wrapper-skill .skill-tech{
    width: 430px;
    margin-bottom: 20px;
}

.wrapper-skill .skill-tech:nth-child(odd){
    margin-right: 100px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}   